<div class="hero-unit"><h1>Tristan Hardy: <%= mail_to  "tristan@lawofthings.com" %></h1>
</div>
<%= image_tag 'clouds.png' %>
<%= image_tag 'servers.png' %>
<%= image_tag 'device.png' %>
<%= image_tag 'man.png' %>
